@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --text-color-1: #19345e;
  --text-color-2: #d5d5d5;
  --text-color-3: #ffffff;
  --text-color-4: #f47522;
  --bg-color-1: #19345e;
  --bg-color-2: #f47522;
  --bg-color-3: #f4f7fc;
  --bg-color-4: #ffffff;
  --bg-color-5: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* NAVBAR */
.padding-navbar {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

.nav-shadow {
  box-shadow: 0rem 0rem 0.8rem #bebebe;
}

.nav-link {
  color: var(--text-color-1) !important;
}

.active {
  color: var(--text-color-4) !important;
}
/* ----------------- */

/* CONTENT EXPERIENCE */
h6 {
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #bdbdbd;
}

.heading-title {
  padding-left: 8.5rem;
  color: var(--text-color-1);
  margin-top: 5.4rem !important;
  background-color: var(--bg-color-3) !important;
}

.chekpoint {
  position: relative;
}

.chekpoint ul {
  list-style-type: none;
}

.chekpoint ul li::before {
  content: "–";
  left: 1.2rem;
  position: absolute;
}

.chekpoint:nth-child(odd) {
  padding-left: 6rem;
  border-left: 0.1rem solid #bdbdbd;
}

.chekpoint:nth-child(even) {
  padding-left: 6rem;
  border-left: 0.1rem solid #bdbdbd;
}

.chekpoint:nth-child(odd)::before,
.chekpoint:nth-child(even)::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  z-index: 1;
  left: -0.5rem;
  position: absolute;
  background-color: var(--bg-color-1);
}
/* ----------------- */

/* FOOTER */
.logo-footer {
  padding-left: 8.5rem !important;
}

.straight-line {
  border-right: 0.05rem solid var(--bg-color-5) !important;
}

.con-social-media {
  gap: 1rem;
  display: flex;
  margin-left: 0.4rem;
  align-items: center;
  justify-content: center;
}

.font-copyright {
  font-weight: 300;
  font-size: 0.8rem !important;
}
/* ----------------- */

@media screen and (max-width: 991px) {
  /* NAVBAR */
  .padding-navbar {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  /* FOOTER */
  .logo-footer {
    padding-left: 3.2rem !important;
  }

  .container-footer {
    padding: 2rem 2.5rem;
  }

  .container-footer-logo {
    padding-left: 0;
  }

  .container-footer-copyright {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  /* NAVBAR */
  .padding-navbar {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  /* CONTENT */
  .chekpoint {
    position: relative;
  }

  .chekpoint:nth-child(odd) {
    border-left: 0;
    padding-left: 0;
  }

  .chekpoint:nth-child(even) {
    border-left: 0;
    padding-left: 0;
  }

  .chekpoint:nth-child(odd)::before {
    content: "";
    width: 0;
    height: 0;
    border-radius: 0;
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .chekpoint:nth-child(even)::before {
    content: "";
    width: 0.1rem;
    height: 100%;
    border-radius: 0;
    background-color: #bdbdbd;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
  }

  /* FOOTER */
  .straight-line {
    border-right: 0 !important;
    border-bottom: 0.05rem solid var(--bg-color-5) !important;
  }

  .logo-footer {
    display: flex;
    justify-content: center;
  }
}
