@import url("https://fonts.googleapis.com/css?family=Muli&family=Roboto");

:root {
  --text-color-1: #19345e;
  --text-color-2: #d5d5d5;
  --text-color-3: #ffffff;
  --bg-color-1: #19345e;
  --bg-color-2: #f47522;
  --bg-color-3: #f4f7fc;
  --bg-color-4: #ffffff;
  --bg-color-5: #707070;
}

body {
  margin: 0;
  min-height: 100vh;
  /* width: 1233px; */
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */
.container-navbar {
  top: 0;
  height: 88px;
  display: flex;
  position: sticky;
  align-items: center;
  font-family: "Muli", sans-serif;
  justify-content: space-around;
  background-color: var(--bg-color-4);
  box-shadow: 0px 0px 10px #bebebe;
}

.container-navbar ul {
  display: flex;
  list-style-type: none;
}

.container-navbar ul li a {
  font-size: 16px;
  margin-left: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color-1);
}

/* HOME */
.container-home {
  height: 835px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url("../images/bg-img.png");
}

.container-home img {
  width: 355px;
  height: 355px;
  border-radius: 50%;
  margin-right: 76px;
}

.container-home ul li {
  font-weight: bold;
  list-style-type: none;
  color: var(--text-color-1);
}

.container-home ul button {
  width: 150px;
  height: 43px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 25px;
  color: var(--text-color-3);
  border: 2px solid var(--bg-color-2);
  background-color: var(--bg-color-2);
}

/* ABOUT */
.container-about-title {
  display: flex;
  height: 132px;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  padding-left: 125px;
  color: var(--text-color-1);
  background-color: var(--bg-color-3);
}

.container-about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 125px;
  margin-block-start: 42px;
  margin-bottom: 89px;
}

.container-about-content-detail #description {
  font-size: 18px;
  letter-spacing: 0.05em;
  color: var(--text-color-1);
}

.container-about-content-detail #title {
  font-size: 28px;
  margin-top: 35px;
  font-weight: bold;
  color: var(--text-color-1);
  font-family: "Muli", sans-serif;
}

.container-about-content-detail ul {
  margin-top: 13px;
  margin-left: -20px;
  color: var(--text-color-1);
}

.container-about-content-detail #year {
  font-weight: 500;
  font-size: 20px;
}

.container-about-content-detail #desc {
  list-style-type: none;
  font-size: 18px;
}

.container-about-content-detail #sub-title {
  font-size: 23px;
  margin-top: 41px;
  font-weight: 600;
  color: var(--text-color-1);
  font-family: "Muli", sans-serif;
}

.container-about-content-detail table {
  width: 70%;
  border-collapse: collapse;
  font-family: "Muli", sans-serif;
}
.container-about-content-detail td {
  border: 1px solid var(--bg-color-5);
  font-size: 18px;
  padding-block: 8px;
  padding-inline: 18px;
}

.container-about-image {
  display: flex;
  justify-content: center;
}

.container-about-image .profile {
  height: 248px;
  margin-top: 52px;
  width: 249px;
  border-radius: 10px;
}
.container-about-image .dot {
  width: 90px;
  height: 76px;
  position: absolute;
  margin-top: 255px;
  margin-left: -250px;
}

/* FOOTER */
.container-footer {
  height: 141px;
  display: grid;
  align-items: center;
  color: var(--text-color-3);
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bg-color-1);
}

.container-footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-footer-social-media {
  display: flex;
  line-height: 0;
  padding-inline: 200px;
  flex-direction: column;
  justify-content: center;
}

.container-footer-social-media p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.container-footer-social-media ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.container-footer-social-media ul li {
  display: flex;
  margin-right: 22px;
  align-items: center;
}

.container-footer-social-media #ic-social-media {
  width: 1.5rem;
}

.container-footer-copyright {
  height: 60%;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--bg-color-5);
}
